{% extends 'base.html' %}
{% load static %}


{% block content %}
<main id="main">
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Blog</h2>
        </div>
        <div class="container">
            <h2>Cancellation Policy & Refound Policy</h2>
            <p>If you will cancel your appointment: </p>
            <p><strong>• The day before the scheduled date </strong> </p>
            <p><strong>• At most 6 hours before the starting time </strong> you will get refounfed the 50%</p>
        </div>
        <p>Feel free to <a href="/#contact">contact me</p>

        <div class="align-items-center text-center">
          <a href="https://medium.com/@davidepollicino"> <button type="button" class="btn btn-info">View More</button> </a>
        </div>
    </section><!-- End Services Section -->

{% endblock %}
