{% extends 'base.html' %}
{% load static %}


{% block content %}
<main id="main">
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Mock Interview Package</h2>
        </div>

        <div class="container">
			  <p>Improve your chances to ace your interview for a Software Engineer role at a tech giant like Microsoft, Amazon, Apple, Google, Facebook, or at a cool startup;

        <br>
        <h3>Mock interview package structure</h3> 
                
        <p><strong>• Mock Interview: </strong>60 minutes mock interview, splitted between software coding challenges and behavioral questions</p>
        <p><strong>• CV Review and feedback:</strong> You will feedback related to your current CV and mock interview </p>
        <p><strong>• Training program: </strong> after the mock interview you will receive a set of exercises and platforms to use that may best in line with your individual economical opportunities, goals and preparation status</p>
        <p><strong>• Networking: </strong>I may introdoce you to someone working in the company you wish apply, and learn about past interview experiences.</p>
        <p><strong>• Reference: </strong> If eligible and ready to approach your next interview, you may recieve a direct reference from me for your next role at <strong>Microsoft.</strong></p>

        <p><strong>Costs:</strong> <span class="cost">150 euros</span></p>
        <p>• Feel free to <a href="/#contact">contact me if interested</a> </p>

      </div>
    </section><!-- End Services Section -->

    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Frequently Asked Questions</h2>
        </div>

        <ul class="faq-list">
          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Why Should I buy your service, what is your background? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>• Graduated in <strong>Computer Science</strong> at Edinburgh Napier University in 2022</p>
              <p>• Software Engineer at <strong>Microsoft</strong>, with experience as software Engineer and Product Manager also in start-up environments</p>
              <p>• Writer on <a href="https://medium.com/@davidepollicino"> Medium.com</a></p>
              <p>• <strong>Competitive Programming mentor</strong> and member of HBFS Team, first ever ITIS Vittorio Emanuale III team to achieve final round in Italian National Competitive programming teams, ranking 28th out fo 700+ teams</p>
              <p>• Creator of the <a href="https://github.com/omonimus1/competitive-programming">Competitive Programming guide</a>, open-source project with <strong>more than 600 stars</strong> on GitHub </p>
            </div>
          </li>
          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">If I am not happy with your service, will I get a refound?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>• In case of technical difficulties from my side, you will be <strong>fully</strong> reimbursed</p>
              <p>• In case of unsatisfaction from your side, feedback will be asked, appreciated it and taken under considerations for further improvements, but will you will <strong>not</strong> be reimbursed</p>
            </div>
          </li>
          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Can I view any project you have been working on?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>• Please view my  <a href="/#portfolio">portfolio section</a>, and visit my  <a href="github.com/omonimus1">Github </a>profile</p>

            </div>
          </li>
        </ul>
      </div>
    </section><!-- End Frequently Asked Questions Section -->

 
    <div class="text-center ">
      <p>Share On: </p>
      <div class="share-social">
        <a href="https://www.facebook.com/share.php?u=davidepollicino.co.uk/software-mock-interview" target="_blank"> <i class="bi bi-facebook"></i></a>
        <a href="whatsapp://send?text=davidepollicino.co.uk/software-mock-interview"
                data-action="share/whatsapp/share"
                target="_blank">
                <i class="bi bi-whatsapp"></i>
        <a href="http://twitter.com/share?text=&url=http://www.davidepollicino.co.uk/software-mock-interview"><i class="bi bi-twitter"></i> </a>

        </a>
      </div>
    </div>
  <br>

{% endblock %}
